<ion-header [translucent]="true">
  <ion-toolbar >
   
        <ion-title> My App </ion-title>
          <ion-chip slot="end">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>{{email}}</ion-label>
          <ion-button fill="clear" size="small" color="danger" (click)="presentAlertLogout()"><ion-icon size="large" icon="../../assets/icon/logout.svg"></ion-icon></ion-button>

         
        </ion-chip>
     
    
   

 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button id="open-modal" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 
   <ion-grid>
    <ion-row class="ion-margin-top"></ion-row>
    <ion-row class="ion-margin-top" *ngFor="let annonce of allAnnonce ">
     <ion-col size="10" offset="1">
      <ion-card>
     
        <ion-img *ngIf="annonce.urlImage" alt="Silhouette of mountains" [src]="annonce.urlImage" > </ion-img>
        <ion-card-header>
          <div>
            <ion-row>
              <ion-col>    <ion-card-title><b>product</b>: {{annonce.product}}</ion-card-title></ion-col>
              <ion-col><b>{{annonce.date | date:'fullDate'}} </b></ion-col>

            </ion-row>
          </div>
          <ion-card-subtitle><b>category: </b>{{annonce.category}}</ion-card-subtitle>
        </ion-card-header>
         <div *ngIf="annonce.discription">
          <ion-card-content >
            <b>discription: </b> {{annonce.discription}}


          </ion-card-content>
        </div>
       <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
       

        <ion-col>
          <ion-button  id="open-update" fill="clear"  (click)="update(annonce);setOpen(true)" ><ion-icon size="large"  slot="icon-only" icon="../../assets/icon/update.svg"  ></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="presentAlert(annonce.id)"><ion-icon size="large"  slot="icon-only" icon="../../assets/icon/delete.svg"  ></ion-icon></ion-button>

        </ion-col>

       </ion-row>

         
         

       
      </ion-card>
     </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col></ion-col>
      <ion-col *ngIf="!allAnnonce.length">No Content ! ...</ion-col>
      <ion-col></ion-col>

    </ion-row>
   </ion-grid>


   <!--add new Annonce -->
 
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add new Product</ion-title>
          <ion-buttons slot="end">
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="onSubmit($event)">
          <ion-item class="ion-margin-top">
            <ion-input
            type="text"
            fill="solid"
            label="Product Category"
            name="category"
            labelPlacement="floating"
            helperText="enter Category of your product"
            errorText=""
            [(ngModel)]="category"
            
          ></ion-input>
            
          </ion-item>        
          <ion-item class="ion-margin-top">
            <ion-input
            type="text"
            fill="solid"
            label="Name of Product"
            labelPlacement="floating"
            helperText="Enter a name of product"
            name="product_name"
            [(ngModel)]="product"
            required
            
          ></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-input
            type="text"
            fill="solid"
            label="web link"
            labelPlacement="floating"
            helperText="Enter web link"
            name="link"
            
            [(ngModel)]="webLink"
            
          ></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-textarea label="discription " labelPlacement="floating" placeholder="Enter discription"
            
            [(ngModel)]="discription"
            name="discription"
            ></ion-textarea>

          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-input
            type="file"
            fill="solid"
            label="Image of Product"
            labelPlacement="floating"
            helperText="upload image"
            hidden
            name="image"
            (change)="onFileSelected($event)"
           
            
            
          ></ion-input>
          <i class="ion-ios-plus custom-icon"></i>
          </ion-item>
          <ion-item *ngIf="fileUrl">
            <ion-img 
               [src]="fileUrl"
              alt="The Wisconsin State Capitol building in Madison, WI at night"
            ></ion-img>
          </ion-item>
          <ion-button (click)="addNewAnnonce()" expand="block" type="submit" [disabled]="!( product && fileUrl && category )" >submit</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!--update  Annonce -->
  <ion-modal  [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
           
          </ion-buttons>
          <ion-title>Add new Product</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form #form2>
          <ion-item class="ion-margin-top">
            <ion-input
            type="text"
           
            label="Product Category"
            name="category"
            value="updatedObj.category"
            labelPlacement="floating"
            helperText="enter Category of your product"
            errorText=""
            [(ngModel)]="category"
            
          ></ion-input>
            
          </ion-item>        
          <ion-item class="ion-margin-top">
            <ion-input
            type="text"
            
            label="Name of Product"
            labelPlacement="floating"
            helperText="Enter a name of product"
            name="product_name"
            [(ngModel)]="product"
            value="updatedObj.product"
            required
            
          ></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-input
            type="text"
            
            label="web link"
            labelPlacement="floating"
           
            name="link"
            value="updatedObj.webLink"
            
            [(ngModel)]="webLink"
            value="updatedObj.webLink"

            
          ></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-textarea label="discription " labelPlacement="floating" placeholder="Enter discription"
            
            [(ngModel)]="discription"
            name="discription"
            value="updatedObj.discription"
            ></ion-textarea>

          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-input
            type="file"
           
            label="Image of Product"
            labelPlacement="floating"
            helperText="upload image"
            
            name="image"
            (change)="onFileSelected($event)"
           
            
            
          ></ion-input>
          <i class="ion-ios-plus custom-icon"></i>
          </ion-item>
          <ion-item >
            <ion-img 
               [src]="fileUrl || urlImage"
              alt="The Wisconsin State Capitol building in Madison, WI at night"
            ></ion-img>
          </ion-item>
          <ion-button   expand="block" (click)="sendUpdate()" type="submit" [disabled]="!( product && fileUrl && category )" >update</ion-button>
        </form>

      </ion-content>
    </ng-template>
  </ion-modal>




  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="'/home'" >
        
    
        <ion-icon name="home"  ></ion-icon>
      </ion-fab-button>
     
      <ion-fab-button [routerLink]="'/acceul'">
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
     
    </ion-fab-list>
  </ion-fab>


</ion-content>
<ion-button  vertical="bottom" fill="clear"  (click)="scrollToTop()"><ion-icon size="large"  slot="icon-only" icon="../../assets/icon/top.svg" ></ion-icon></ion-button>

